<div class="container-fuild principal">
  <nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="navbar-brand nav-link" routerLink="/">app-music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/oc">Open-Close</a>
      </li>
    </ul>
    <p *ngIf="count">{{ count }} secondes écoulées</p>
  </nav>
  <!-- <app-chronometre></app-chronometre> -->
  <!-- La partie où sera rendu tous les enfants de ce composant -->
  <app-audio-player>
  </app-audio-player>
  <router-outlet></router-outlet>
</div>